#
#SBATCH -N 1 -n 1 --mem=46gb
#SBATCH --time=@@(S:OPA_WALL_CLOCK_LIMIT_SER)
@@(S:OPA_QUEUE_COMMENT)#SBATCH -p @@(S:OPA_QUEUE_SER)
#SBATCH --qos=@@(S:OPA_QUEUE_QOS)
@@(S:OPA_DEPENDENCY_COMMENT)#SBATCH --depend=@@(S:OPA_DEPENDENCY)
#SBATCH --export=OPA_RUNTIME_STEP=@@(S:OPA_STEP)
#SBATCH --account=OGS_prod_0

