#
# @ step_name = @@(S:OPA_STEP_NAME)
# @ job_type = serial
# @ wall_clock_limit = @@(S:OPA_WALL_CLOCK_LIMIT)
@@(S:OPA_QUEUE_COMMENT)# @ class = @@(S:OPA_QUEUE)
@@(S:OPA_DEPENDENCY_COMMENT)# @ dependency = @@(S:OPA_DEPENDENCY)
# @ arguments = 
## @ requirements =
# @ rset = rset_mcm_affinity
# @ mcm_affinity_options = mcm_distribute mcm_mem_pref mcm_sni_none
# @ task_affinity = cpu(2)
# @ resources = ConsumableMemory(1500mb)
# @ environment = OPA_RUNTIME_STEP=@@(S:OPA_STEP)
# @ queue
