#
#PBS -l select=1:ncpus=1:mpiprocs=1:mem=46gb
#PBS -l walltime=@@(S:OPA_WALL_CLOCK_LIMIT_SER)
@@(S:OPA_QUEUE_COMMENT)#PBS -q @@(S:OPA_QUEUE_SER)
@@(S:OPA_DEPENDENCY_COMMENT)#PBS -W dependency=@@(S:OPA_DEPENDENCY)
#PBS -v OPA_RUNTIME_STEP=@@(S:OPA_STEP)
#PBS -A OGS_prod
#PBS -W group_list=OGS_prod
